# This is a debian-installer preseeding profile for OCS Linux
# Project Homepage: http://www.ocslinux.com/

# Install Xfce4 Desktop
tasksel tasksel/desktop multiselect xfce

# Install some helpful packages
d-i pkgsel/include string xfce4-session build-essential nano wget curl rsync pv git-core subversion sudo ttf-liberation ttf-mscorefonts-installer playonlinux gdebi gksu psensor vlc kodi file-roller rar unrar p7zip-full faenza-icon-theme network-manager-gnome xfce4-power-manager xfce4-power-manager-plugins pavucontrol thunar-dropbox-plugin shiki-noble-theme intel-microcode firmware-linux firmware-linux-nonfree firmware-bnx2x firmware-bnx2 firmware-realtek enigmail seahorse parcimonie gnome-disk-utility gparted ntp bash-completion sshfs exfat-utils exfat-fuse ntfs-3g

# apply security updates immediately after install
d-i pkgsel/upgrade select safe-upgrade

# Set hostname to "ocslinux" - can be changed later.
d-i netcfg/hostname string ocslinux

# Allow the user to sudo and access other items
d-i passwd/user-default-groups string audio cdrom video sudo

# Set default clock options
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true

# Skip root account, force sudo
d-i passwd/root-login boolean false

libc6 libraries/restart-without-asking boolean true

